<%= form_for @article do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title, placeholder: "Title", class: "Form-input Form-input--fullWidth Form-input--chromeless Form-input--heading" %>

  <%= f.text_area :body, placeholder: "Write your minds content...", rows: 20, class: "Form-input Form-input--fullWidth Form-input--chromeless" %>

  <%= f.submit %>
<% end %>
