<% @page_title = @article.title %>
<main class="Container Container--mainColumn" role="main">
  <div class="Container-inner">
    <article class="Article">
      <h1 class="Article-heading">
        <%= @article.title %>
        <span class="Article-publishedOn">
          <%= @article.created_at.strftime('%B %e, %Y') %>
        </span>
      </h1>
      <div class="Article-body">
        <%= @article.body %>
      </div>
    </article>
  </div>
</main>
<% if logged_in? %>
  <div class="Container Container--mainColumn">
    <div class="Container-inner">
      <%= link_to 'Edit', edit_article_path(@article) %>
      <%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
