<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @page_title ? "#{@page_title} – Alexis Fellenius Makrigianni" : "Alexis Fellenius Makrigianni is a designer and partner at Oktavilla" %></title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="Lexi.se RSS Feed" href="http://lexi.se/feed?format=rss">
    <%= stylesheet_link_tag "application" %>
    <script type="text/javascript" src="//use.typekit.net/irp6ewa.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88640-32', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>
  </head>
  <body>
    <div id="wrap">
      <div class="Container">
        <div class="Container-inner">
          <header role="banner" class="Masthead">
            <div class="Masthead-title">
              <a href="/" class="Masthead-titleHomeLink">Alexis</a> is a designer and partner at <a href="http://oktavilla.se" class="Masthead-titleCompanyLink">Oktavilla</a>.
            </div>
            <div class="Masthead-navigation">
              <nav class="Navigation" role="navigation">
                <ul class="Navigation-list">
                  <li class="Navigation-listItem"><a href="<%= articles_path -%>" class="Navigation-listItemLink">Writing</a></li>
                  <li class="Navigation-listItem"><a href="#" class="Navigation-listItemLink">About</a></li>
                </ul>
              </nav>
            </div>
          </header>
        </div>
      </div>

      <%= yield %>

      <footer class="Container" id="about" role="contentinfo">
        <div class="Container-inner">
          <div class="Footer">
            <p>&copy; Alexis Fellenius Makrigianni 2008 – <%= Time.now.year %>.</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
